<footer>
    <ul>
        <li>
            <%= link_to "・プライバシーポリシー", home_top_path %>
        </li>
        <li>
            <%= link_to "・サイトポリシー",home_top_path %>
        </li>
        <li>
             <%= link_to "・お問い合わせ",home_top_path %>
        </li>
    </ul>
</footer>