<header>
    <div class="header-background">
       <%= image_tag 'header_background_image',class:"header_background_image" %>
        <div class="main-logo">
           <%= link_to home_top_path do %>
            <%= image_tag 'header_main_log',class: "header_main_log" %>
            <% end %>
        </div>
        <div class="sab-logo">
                <%= image_tag "header_sab_log",class: "header_sab_log" %>
        </div>
    </div>
    
</header>