<div class="show_block">
    <div class="show_main_block"> 
       <%= image_tag "show_background_mizutama",class:"show_background_mizutama" %>
        <div class="member_profile_block">
            <div class="profile_image">
                <%= image_tag "bu" %>
            </div>
            <div class="name_block">
                <p class="nickname">
                    ユースケさん
                </p>
                <p class="name">
                    井上裕介| イノウエユウスケ
                </p>
            </div>
            <div class="colledge_block">
                <p>
                    駒沢大学支部
                </p>
                <p>
                    駒沢大学教育学部教育学科
                </p>
                <p>
                    僕夏1年目
                </p>
            </div>
            <div class="career_block">
                <p>
                    小学三年生からサッカーを始め、中学高校と共にサッカー部に所属。
                    <br>高校生の時に読んだ枕草子に感銘を受け、
                    <br>文学の世界に興味を持ち、現在の進路を選択。
                    <br>2020年春、僕夏に入会。教員に向けて活動中
                </p>
            </div>
            <div class="clearfix">
                <div class="smile">
                    <div class="give_smile_block">
                        <p>
                            自己肯定感の低い子に、自分らしさに自信を持てるようになってもらいたい
                        </p>
                    </div>
                    <div class="smile_block">
                        <p>
                            誰にどんな笑顔を届けたい？
                        </p>
                    </div>
                </div>
                <div class="reason">
                    <div class="join_reson_block">
                        <p>
                            Twitterで僕夏の活動の様子を見て、子どもたちと大学生の笑顔に惹かれて入会を決めました。
                        </p>
                    </div>
                    <div class="join_reason">
                        <p>
                            入会のきっかけは？
                        </p>
                    </div>
                </div>
                 
            </div>
            <div class="personality">
                <div class="personalities_block">
                    <p>
                        ・ONE PIECE ・漢方 ・ハンバーグ ・アベンジャーズ
                        ・アンケート修正 ・一人暮らし
                    </p>
                </div>
                <div class="pesonalities">
                    <p>私ってこんな人</p>
                </div>
            </div>
                
            
        </div>
    </div>
</div>
